@media print {
	.pagebreak {
		background-color: limegreen;
		height: 0.932mm;
		width: 100%;

		clear: both;
		display: block;
		break-before: page;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-size: calc(7px + 1vmin);
	/* font-size: 16px; */
}

h1 {
	break-before: always;
}

.barcode {
	background-color: transparent;
	height: 25mm;
	overflow: hidden;
	width: 45mm;

	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
}
.barcode_label {
	border: 3px solid #232323;
	border-radius: 4px;
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	height: 45mm;
	overflow: hidden;
	width: 50mm;

	position: relative;
	left: 0;
	top: 0;
	z-index: 3;
}
.barcode_desc {
	align-items: center;
	display: flex;
	font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 0.85em;
	min-height: 13mm;
	justify-content: center;
	line-height: 1em;
	padding: 12px 2px 2px 2px;
	text-align: center;
	width: 100%;

	position: relative;
	left: 0;
	bottom: 3px;
	z-index: 3;
}
.barcode_name {
	align-items: center;
	background-color: crimson;
	border-radius: 0 0 3px 3px;
	color: #fff;
	display: flex;
	font-family: monospace;
	font-size: 1.2em;
	font-weight: 800;
	height: 7mm;
	justify-content: center;
	text-align: center;
	width: 100%;

	position: relative;
	left: 0;
	top: 0;
	z-index: 3;
}

#barcode_container {
	display: flex;
	flex-flow: row wrap;
	/* margin: 25px; */
}
